# Generated iptables-save v1.4.21 on Mon Jul 25 15:50:44 2016
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
## PING 
-A INPUT -p icmp -m icmp --icmp-type 0 -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT
## SSH 
-A INPUT -p tcp -m tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT

-A INPUT -s 10.0.0.0/8 -p tcp -j REJECT --reject-with tcp-reset
-A INPUT -s 10.0.0.0/8 -j REJECT --reject-with icmp-port-unreachable
COMMIT
# Completed on Mon Jul 25 15:50:44 2016
